@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fff1;
  --foreground: #0e140e;
}

.dark {
  --background: #0e140e;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
}